{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
      "prefer-const":"off",
      "no-console":"error",
      "semi":"error",
      "lines-between-class-members":["warn","always"],
      "array-callback-return":"warn",
      "func-call-spacing":["warn","never"],
      "require-await":"error",
      "arrow-spacing": ["warn", { "before": true, "after": true }],
      "array-bracket-spacing":["warn", "always"],
      "object-curly-spacing":["warn", "always"],
      "comma-spacing":["warn", { "before": false, "after": true }],
      "space-before-blocks":["warn", "always"],
      "keyword-spacing":"warn",
      "switch-colon-spacing": ["warn", {"after": true, "before": false}],
      "block-spacing": "warn",
      "brace-style":["warn", "1tbs", { "allowSingleLine": true }],
      "camelcase":"warn",
      "@typescript-eslint/indent": ["warn", 4, { 
        "SwitchCase": 1, 
        "MemberExpression": 1, 
        "ArrayExpression": 1, 
        "ObjectExpression": 1, 
        "ImportDeclaration": 1, 
        "offsetTernaryExpressions": false 
        }],
      "block-scoped-var": "warn",
      "curly": "warn",
      "default-case":"warn",
      "max-len": ["warn", { "code": 120 }],
      // "multiline-comment-style": "warn"
    }
}