name: Comp-plex scheduled run on dev

on: 
  schedule:
    - cron: 00 05 * * 1-5 #Run comp-plex e2e tests on dev env every weekday at 5 AM UTC
  
jobs:
  Comp_plex-cy-e2e-run-on-dev:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    container: cypress/browsers:node16.14.2-slim-chrome103-ff102
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3]

    steps:
      - name: Run every weekday Comp-plex end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
           github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
           username: ${{ secrets.USERNAME }}
           password: ${{ secrets.PASSWORD }}
           url: compDev
           spec_file: cypress/integration/comp_plex/**
           record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: true
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_ENV: 'comp_plex-dev'
          DD_SERVICE: 'comp_plex'
          
