name: WebApp + Comp-plex scheduled run on dev

on:
  schedule:
    - cron: 00 04 * * * #Run e2e tests every day at 4 AM UTC

jobs:
  Comp_plex-cy-e2e-run-on-dev:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    container: boweryautomation/cypress-latest-chrome-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4]

    steps:
      - name: Configure secrets
        if: ${{ !env.ACT }} 
        uses: aws-actions/configure-aws-credentials@v1
        with:
            role-to-assume: arn:aws:iam::814827541967:role/GithubOIDC-Role-QMKR3DR5WV3B
            aws-region: 'us-east-1'

      - name: Run every weekday WebApp + Comp-plex end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          url: dev
          spec_file: cypress/integration/**
          tags: grep=,grepTags=@comp_plex,burn=
          secret_name: 'Github/Cypress/webapp-e2e-secrets'
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: true
          DD_ENV: 'dev'
          DD_SERVICE: 'webapp'
          
