name: Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      url:
        type: choice
        description: Select the environment
        options:
          - dev
          - staging
          - prod
          - custom
        required: true
        default: staging
      customUrl:
        type: string
        description: Add custom environment url if needed
        required: false
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**
      tags:
        type: string
        description: Run test with specific tags (via grep,grepTags,burn)
        required: false
        default: grep=,grepTags=-@smoke,burn=
      ref:
        type: string
        description: Select branch, tag, commit ref
        required: false
      threads:
        type: string
        description: Thread number(between 1 and 15)
        required: false
        default: "15"

jobs:
  concurrency:
    runs-on: ubuntu-latest
    outputs:
      threads: ${{ steps.concurrency.outputs.threads }}
    steps:
      - name: Prepare concurrency config
        id: concurrency
        run: |
          echo ::set-output name=threads::$(jq '.[0:${{github.event.inputs.threads}}]' <<< "[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]")

  Not-full-reports-run:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    container: boweryautomation/cypress-latest-chrome-latest
    needs: concurrency
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: ${{ fromJSON(needs.concurrency.outputs.threads) }}

    steps:
      - name: Configure secrets
        if: ${{ !env.ACT }} 
        uses: aws-actions/configure-aws-credentials@v1
        with:
            role-to-assume: arn:aws:iam::814827541967:role/GithubOIDC-Role-QMKR3DR5WV3B
            aws-region: 'us-east-1'
        
      - name: Run end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          url: ${{ github.event.inputs.url }}
          customUrl: ${{ github.event.inputs.customUrl }}
          spec_file: ${{ github.event.inputs.spec_file }}
          tags: ${{ github.event.inputs.tags }}
          ref: ${{ github.event.inputs.ref }}
          secret_name: 'Github/Cypress/webapp-e2e-secrets'
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: true
          DD_ENV: ${{ github.event.inputs.url }}
          DD_SERVICE: 'webapp'


      - name: Archive DOM snapshots from failed tests
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: failed-tests-DOM-snapshots
          path: cypress/gh_artifacts
          retention-days: 2

      - name: Archive downloaded Reports (html and docx)
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: downloaded-reports
          path: cypress/downloads
          retention-days: 2