name: Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      choice: 
        type: choice
        description: Select the environment
        options:
        - dev
        - staging
        - prod
        required: true
        default: staging
jobs:
  Not-full-reports-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.5.0-chrome94-ff93
    strategy:
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install currents
        run: npm i @currents/cli -g

      - name: Run Cypress on Currents.dev
        uses: cypress-io/github-action@v2
        with:
          command: currents run --record --parallel --key ${{ secrets.CURRENTS_RECORD_KEY }} --ci-build-id "${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt}}"