name: Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select the environment
        options:
        - dev
        - staging
        - prod
        - custom
        required: true
        default: staging
      url:
        type: choice
        description: Select the url explicitly
        options:
        - 'https://bowery-development.herokuapp.com'
        - 'https://bowery-staging.herokuapp.com'
        - 'https://app.boweryvaluation.com'
        required: true
        default: 'https://bowery-staging.herokuapp.com'
      customEnv:
        type: string
        description: Add custom environment url if needed
        required: false
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**/*.spec.ts
      tags:
        type: string
        description: Run test with specific tags (via grep,grepTags,burn)  
        required: false
        default: grep=,grepTags=-@smoke,burn=

jobs:
  Not-full-reports-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    steps:
      - name: Run end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@v0.0.1
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          env: ${{ github.event.inputs.env }}
          customEnv: ${{ github.event.inputs.customEnv }}
          url: ${{ github.event.inputs.url }}
          spec_file: ${{ github.event.inputs.spec_file }}
          tags: ${{ github.event.inputs.tags }}
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}

      - name: Archive DOM snapshots from failed tests
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: failed-tests-DOM-snapshots
          path: cypress/gh_artifacts
          retention-days: 2
      
      - name: Archive downloaded Reports (html and docx)
        if: always()
        uses: actions/upload-artifact@v3
        with:
          name: downloaded-reports
          path: cypress/downloads
          retention-days: 2