name: CI DEBUG. Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      url:
        type: choice
        description: Select the environment
        options:
          - dev
          - staging
          - prod
          - custom
        required: true
        default: staging
      customUrl:
        type: string
        description: Add custom environment url if needed
        required: false
      # IMPORTANT: debug inputs
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**
      tags:
        type: string
        description: Run tests with specific tags
        required: false
        default: grep=,grepTags=,burn=
      ref:
        type: string
        description: Select branch, tag, commit ref
        required: false

jobs:
  Not-full-reports-run-DEBUG:
    runs-on: ubuntu-latest
    timeout-minutes: 100
    container: pumple/bowery-automation:latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1]

    steps:
      - name: Configure secrets
        if: ${{ !env.ACT }} 
        uses: aws-actions/configure-aws-credentials@v1
        with:
            role-to-assume: arn:aws:iam::814827541967:role/GithubOIDC-Role-QMKR3DR5WV3B
            aws-region: 'us-east-1'
          
      - name: Run end-to-end tests (DEBUG, one container)
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          customUrl: ${{ github.event.inputs.customUrl }}
          url: ${{ github.event.inputs.url }}
          spec_file: ${{ github.event.inputs.spec_file }}
          tags: ${{ github.event.inputs.tags }}
          ref: ${{ github.event.inputs.ref }}
          secret_name: 'Github/Cypress/webapp-e2e-secrets'
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: true
          DD_ENV: ${{ github.event.inputs.url }}
          DD_SERVICE: 'webapp'
