name: ACT DEBUG. NOT RUN ON CI. Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select the environment
        options:
        - dev
        - staging
        - prod
        - custom
        required: true
        default: staging
      url:
        type: choice
        description: Select the url explicitly
        options:
        - 'https://bowery-development.herokuapp.com'
        - 'https://bowery-staging.herokuapp.com'
        - 'https://app.boweryvaluation.com'
        required: true
        default: 'https://bowery-staging.herokuapp.com'
      customEnv:
        type: string
        description: Add custom environment url if needed
        required: false
      # IMPORTANT: debug inputs
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**
      tags:
        type: string
        description: Run tests with specific tags
        required: false
        default: grepTags=
        
jobs:
  Not-full-reports-run-DEBUG-ACT:
    runs-on: ubuntu-latest
    container: boweryautomation/cypress-latest-chrome-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1]

    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Install Dependencies
        uses: bahmutov/npm-install@v1.8.21

      - name: Install Currents globally
        run: npm i @currents/cli -g

      - name: Run Cypress not snapshot tests on Currents.dev
        run: npm run currents:run:debug -- --config baseUrl=${{ github.event.inputs.customEnv == '' && github.event.inputs.url ||  github.event.inputs.customEnv }} --spec ${{ github.event.inputs.spec_file }} --env ${{ github.event.inputs.tags }}