name: DEBUG. Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select the environment
        options:
        - dev
        - staging
        - prod
        - custom
        required: true
        default: staging
      url:
        type: choice
        description: Select the url explicitly
        options:
        - 'https://bowery-development.herokuapp.com'
        - 'https://bowery-staging.herokuapp.com'
        - 'https://app.boweryvaluation.com'
        required: true
        default: 'https://bowery-staging.herokuapp.com'
      customEnv:
        type: string
        description: Add custom environment url if needed
        required: false
      # IMPORTANT: debug inputs
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**/*.spec.ts
      tags:
        type: string
        description: Run tests with specific tags
        required: false
        default: grep=,grepTags=,burn=
        
jobs:
  Not-full-reports-run-DEBUG:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    strategy:
      fail-fast: false
      matrix:
        containers: [1]

    steps:
      - name: Run e2e tests
        uses: Ernst-D/action-e2e-currents-dev@v0.0.3
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          env: ${{ github.event.inputs.env }}
          customEnv: ${{ github.event.inputs.customEnv }}
          url: ${{ github.event.inputs.url }}
          spec_file: ${{ github.event.inputs.spec_file }}
          tags: ${{ github.event.inputs.tags }}
          record_key: "debug"