name: CI DEBUG. Cypress not full reports tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select the environment
        options:
        - dev
        - staging
        - prod
        - custom
        required: true
        default: staging
      url:
        type: choice
        description: Select the url explicitly
        options:
        - 'https://bowery-development.herokuapp.com'
        - 'https://bowery-staging.herokuapp.com'
        - 'https://app.boweryvaluation.com'
        required: true
        default: 'https://bowery-staging.herokuapp.com'
      customEnv:
        type: string
        description: Add custom environment url if needed
        required: false
      # IMPORTANT: debug inputs
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**/*.spec.ts
      tags:
        type: string
        description: Run tests with specific tags
        required: false
        default: grep=,grepTags=,burn=
      ref:
        type: string
        description: Select branch, tag, commit ref
        required: false
        
jobs:
  Not-full-reports-run-DEBUG:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1]

    steps:
      - name: Run end-to-end tests (DEBUG, one container)
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          env: ${{ github.event.inputs.env }}
          customEnv: ${{ github.event.inputs.customEnv }}
          url: ${{ github.event.inputs.url }}
          spec_file: ${{ github.event.inputs.spec_file }}
          tags: ${{ github.event.inputs.tags }}
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
          ref: ${{ github.event.inputs.ref }}
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: true
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_ENV: ${{ github.event.inputs.env }}
          DD_SERVICE: 'webapp'
