name: Cypress full reports tests

on:
  workflow_dispatch:
    inputs:
      url:
        type: choice
        description: Select the environment
        options:
          - dev
          - staging
          - prod
          - custom
        required: true
        default: staging
      customUrl:
        type: string
        description: Add custom environment url if needed
        required: false
      ref:
        type: string
        description: Select branch, tag, commit ref
        required: false

jobs:
  Full-reports-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Run full-report end-to-end test with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          customUrl: ${{ github.event.inputs.customUrl }}
          url: ${{ github.event.inputs.url }}
          spec_file: cypress/integration/full_reports/*.spec.ts'
          tags: ${{ github.event.inputs.tags }}
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
          ref: ${{ github.event.inputs.ref }}


      - name: Archive DOM snapshots from failed tests
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: failed-tests-DOM-snapshots
          path: cypress/gh_artifacts
          retention-days: 2
