name: Cypress not full reports tests

on:
  workflow_dispatch:
    inputs:
      choice: 
        type: choice
        description: Select the environment
        options:
        - dev
        - staging
        - prod
        required: true
        default: staging
  pull_request:
    branches: [ master ]

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.5.0-chrome94-ff93
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
          browser: chrome
          spec: cypress/integration/not_full_reports/**
          tag: ${{github.event.inputs.choice}}
          env: url=${{github.events.inputs.choice}}
        env:
          CYPRESS_USERNAME: ${{ secrets.USERNAME }}
          CYPRESS_PASSWORD: ${{ secrets.PASSWORD }}
          CYPRESS_RECORD_KEY: ${{ secrets.TEST_LAUNCHES_RECORD_KEY }}
