name: Run smoke tests and tests, included in PR

on:
  pull_request:
    types: [reopened]

jobs:
  Run-tsc-check:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

      - name: Install dependecies
        run: npm install

      - name: Run tsc:check
        run: npm run tsc:check

  Run-smoke-tests:
    needs: Run-tsc-check
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6]
        
    steps:
      - name: Run smoke end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          spec_file: cypress/integration/**/**/*.spec.ts
          tags: grep=,grepTags=@smoke,burn=
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}

  Run-included-tests:
    needs: Run-tsc-check
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}

      - name: Install find specs module
        run: npm install -g find-cypress-specs@1.17.0

      - name: Define included specs
        id: define_specs
        run: |
          git fetch --no-tags --depth=1 origin ${{ github.base_ref }}
          git fetch --no-tags --depth=1 origin ${{ github.head_ref }}
          git checkout origin/${{ github.base_ref }}
          git checkout origin/${{ github.head_ref }}
          git checkout ${{ github.sha }}
          CHANGED_SPECS=$(npx find-cypress-specs --branch master)
          echo ::set-output name=CHANGED_SPECS::$CHANGED_SPECS

      - name: Run included specs
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          spec_file: ${{ steps.define_specs.outputs.CHANGED_SPECS }}
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
          tags: grep=,grepTags=,burn=
