name: Regression run on staging

on:
  schedule:
    - cron: 00 05 * * MON #Run regession tests on staging env every Monday at 5 AM UTC

jobs:
  Regression-run-on-staging:
    runs-on: ubuntu-latest
    timeout-minutes: 180
    container: cypress/included:10.3.1
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

    steps:
      - name: Run weekly regression end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          url: staging
          spec_file: cypress/integration/not_full_reports/**
          tags: grep=,grepTags=-@smoke,burn=
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
        env:
          DD_CIVISIBILITY_AGENTLESS_ENABLED: true
          DD_API_KEY: ${{ secrets.DD_API_KEY }}
          DD_ENV: 'staging'
          DD_SERVICE: 'webapp'
