name: Regression run on staging

on:
  schedule:
    - cron: 00 05 * * MON #Run regession tests on staging env every Monday at 5 AM UTC

jobs:
  Regression-run-on-staging:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Cypress globally
        run: npm i cypress@9.6.0 -g

      - name: Install Currents globally
        run: npm i @currents/cli -g

      - name: Install Dependencies
        run: npm install

      - name: Run smoke tests on staging
        run: currents run --config baseUrl=https://bowery-staging.herokuapp.com --tag staging --spec cypress/integration/**/**/*.spec.ts --env grep=,grepTags=-@smoke,burn= --browser chrome --record --parallel --key ${{ secrets.CURRENTS_RECORD_KEY }} --ci-build-id "${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt}}"
        env:
          CYPRESS_USERNAME: ${{ secrets.USERNAME }}
          CYPRESS_PASSWORD: ${{ secrets.PASSWORD }}
          CYPRESS_url: https://bowery-staging.herokuapp.com
          CYPRESS_grepFilterSpecs: true