name: Regression run on staging

on:
  schedule:
    - cron: 00 05 * * MON #Run regession tests on staging env every Monday at 5 AM UTC

jobs:
  Regression-run-on-staging:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

    steps:
      - name: Run weekly regression end-to-end tests with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@v0.0.6
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          env: staging
          url: https://bowery-staging.herokuapp.com
          spec_file: cypress/integration/**/**/*.spec.ts
          tags: grep=,grepTags=-@smoke,burn=
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
