name: Cypress smoke tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select the environment
        options:
          - dev
          - staging
          - prod
          - custom
        required: true
        default: staging
      customEnv:
        type: string
        description: Add custom environment url if needed
        required: false
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/not_full_reports/**/*.spec.ts
      tags:
        type: string
        description: Run test with specific tags (via grep,grepTags,burn)
        required: false
        default: grep=,grepTags=@smoke,burn=

jobs:
  Smoke-tests-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    strategy:
      fail-fast: false
      matrix:
        containers: [1]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Cypress globally
        run: npm i cypress@9.6.0 -g

      - name: Install Currents globally
        run: npm i @currents/cli -g

      - name: Install Dependencies
        run: npm install

      - name: Run tests on Currents.dev
        run: currents run --tag ${{ github.event.inputs.env }} --spec ${{ github.event.inputs.spec_file }} --env ${{ github.event.inputs.tags }} --browser chrome --record --parallel --key ${{ secrets.CURRENTS_RECORD_KEY }} --ci-build-id "${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt}}"
        env:
          CYPRESS_USERNAME: ${{ github.event.inputs.env == 'custom' && secrets.CESAR_USERNAME || secrets.USERNAME }}
          CYPRESS_PASSWORD: ${{ github.event.inputs.env == 'custom' && secrets.CESAR_PASSWORD || secrets.PASSWORD }}
          CYPRESS_url: ${{ github.event.inputs.env }}
          CYPRESS_customEnv: ${{ github.event.inputs.customEnv }}
          CYPRESS_grepFilterSpecs: true