name: Smoke test daily prod

on:
  schedule:
    - cron: 00 05 * * * #Run smoke test every day at 5 AM UTC

jobs:
  Smoke-tests-run-daily:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6, 7, 8]

    steps:
      - name: Run smoke end-to-end tests daily with Currents dev
        uses: Bowery-RES/action-run-e2e-tests@latest
        with:
          github_token: ${{ secrets.GH_PERSONAL_ACCESS_TOKEN }}
          username: ${{ secrets.USERNAME }}
          password: ${{ secrets.PASSWORD }}
          env: prod
          url: https://app.boweryvaluation.com
          spec_file: cypress/integration/**/**/*.spec.ts
          tags: grep=,grepTags=@smoke,burn=
          record_key: ${{ secrets.CURRENTS_RECORD_KEY }}
