name: Cypress smoke tests in Currents.dev

on:
  workflow_dispatch:
    inputs:
      env:
        type: choice
        description: Select the environment
        options:
          - dev
          - staging
          - prod
          - custom
        required: true
        default: staging
      url:
        type: choice
        description: Select the url explicitly
        options:
        - 'https://bowery-development.herokuapp.com'
        - 'https://bowery-staging.herokuapp.com'
        - 'https://app.boweryvaluation.com'
        required: true
        default: 'https://bowery-staging.herokuapp.com'
      customEnv:
        type: string
        description: Add custom environment url if needed
        required: false
      spec_file:
        type: string
        description: Spec(s) to be executed
        required: false
        default: cypress/integration/**/**/*.spec.ts
      tags:
        type: string
        description: Run test with specific tags (via grep,grepTags,burn)
        required: false
        default: grep=,grepTags=@smoke,burn=

jobs:
  Smoke-tests-run:
    runs-on: ubuntu-latest
    container: cypress/browsers:node16.13.2-chrome100-ff98
    strategy:
      fail-fast: false
      matrix:
        containers: [1, 2, 3, 4, 5, 6]

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Cache node modules
        uses: actions/cache@v2
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: ~/.npm
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('./package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Cypress globally
        run: npm i cypress@9.6.0 -g

      - name: Install Currents globally
        run: npm i @currents/cli -g

      - name: Install Dependencies
        run: npm install

      - name: Run tests on Currents.dev
        run: currents run --config baseUrl=${{ github.event.inputs.customEnv == '' && github.event.inputs.url ||  github.event.inputs.customEnv }} --tag ${{ github.event.inputs.env }} --spec ${{ github.event.inputs.spec_file }} --env ${{ github.event.inputs.tags }} --browser chrome --record --parallel --key ${{ secrets.CURRENTS_RECORD_KEY }} --ci-build-id "${{ github.repository }}-${{ github.run_id }}-${{ github.run_attempt}}"
        env:
          CYPRESS_USERNAME: ${{ secrets.USERNAME }}
          CYPRESS_PASSWORD: ${{ secrets.PASSWORD }}
          CYPRESS_url: ${{ github.event.inputs.env }}
          CYPRESS_customEnv: ${{ github.event.inputs.customEnv }}
          CYPRESS_grepFilterSpecs: true
          CYPRESS_WEBAPP_APPRAISER_USERNAME: ${{ secrets.WEBAPP_APPRAISER_USERNAME }}
          CYPRESS_WEBAPP_APPRAISER_PASSWORD: ${{ secrets.WEBAPP_APPRAISER_PASSWORD }}
          CYPRESS_WEBAPP_INSPECTOR_USERNAME: ${{ secrets.WEBAPP_INSPECTOR_USERNAME }}
          CYPRESS_WEBAPP_INSPECTOR_PASSWORD: ${{ secrets.WEBAPP_INSPECTOR_PASSWORD }}
          CYPRESS_WEBAPP_ADMIN_USERNAME: ${{ secrets.WEBAPP_ADMIN_USERNAME }}
          CYPRESS_WEBAPP_ADMIN_PASSWORD: ${{ secrets.WEBAPP_ADMIN_PASSWORD }}
          CYPRESS_WEBAPP_LEAD_APPRAISER_USERNAME: ${{ secrets.WEBAPP_LEAD_APPRAISER_USERNAME }}
          CYPRESS_WEBAPP_LEAD_APPRAISER_PASSWORD: ${{ secrets.WEBAPP_LEAD_APPRAISER_PASSWORD }}
          CYPRESS_WEBAPP_ROLE_TEST_USERNAME: ${{ secrets.WEBAPP_ROLE_TEST_USERNAME }}
          CYPRESS_WEBAPP_ROLE_TEST_PASSWORD: ${{ secrets.WEBAPP_ROLE_TEST_PASSWORD }}
          CYPRESS_WEBAPP_TEST_USERNAME: ${{ secrets.WEBAPP_TEST_USERNAME }}
          CYPRESS_WEBAPP_TEST_PASSWORD: ${{ secrets.WEBAPP_TEST_PASSWORD }}
          CYPRESS_LAUNCH_DARKLY_PROJECT_KEY: ${{ secrets.LAUNCH_DARKLY_PROJECT_KEY }}
          CYPRESS_LAUNCH_DARKLY_AUTH_TOKEN: ${{ secrets.LAUNCH_DARKLY_AUTH_TOKEN }}